body {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
}
h3 {
  font-size: 1rem;
  color:rgb(65, 64, 64);
  font-weight: lighter;
  line-height: 1.6rem;
}
h4{
  display: inline;
  font-size: 0.8rem;
  color:rgb(104, 101, 101);
  font-weight: lighter;
}
.grid-container {
  display: grid;
  grid-template-areas: "header", "main", "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
header {
  grid-area: "header";
  font-size: 16px;
  
}
header>.bar{
  margin-left: 6rem;
}
header.header-bar{
  font-size: 30px;
}
main {
  grid-area: "main";
  padding: 0.65rem;
}
footer {
  grid-area: "footer";
  background-color: rgb(245, 245, 245);
  padding-bottom: 4rem;
}
.content{
  padding-left:9rem;
  padding-right: 3rem;
  margin-top: 2rem;
}
.row {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

a {
  text-decoration: none;
}

.row.space{
  justify-content: space-around;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
  padding-top: 3rem;
}
.col-1 {
  flex: 1 1 12rem;
  line-height:0.7rem;
}
.col-2 {
  flex: 2 1 18rem;
  padding-right: 7rem;
  margin: 0;
}
.min-20{
  min-width: 20rem;
}
.max-50{
  max-width: 50rem;
  width: 100%;
}
.search-bar input{
  width: 20rem;
}
/*    image     */
img {
  border-radius: 0.3rem;
}
img.small{
  max-width: 2rem;
  width: 100%;
}
img.ms{
  max-width: 6rem;
  width: 100%;
}
img.large {
  width: 80%;
  height: 35rem;
}
img.medium {
  max-width: 17rem;
  width: 100%;
  height: 20rem;
}

/*      card      */
.card {
  margin: 1rem 0.5rem;
  margin-bottom: 5rem;
}

.price {
  font-size: 1.3rem;
}
.card a {
  color: black;
}
.card a:hover {
  color: orange;
}

/*     rating     */

.rating span {
  font-size: 0.8rem;
  margin: 1px;
}
.rating span:last-child {
  color: black;
}


ul {
  list-style-type: none;
  padding: 0px;
}
li {
  margin-bottom: 1rem;
}

button{
  border: none;
  font-weight: bold;
  background-color: white;
  font-weight:600;
  letter-spacing: 0.4px;
  border-radius: 2rem;
}
button:hover{
  cursor:pointer;
}
button.bg{
  background-color: rgb(247, 243, 243);
  padding: 0.8rem 1.5rem;
  margin: 2rem 0.3rem;
}
button.plain{
  padding: 0.8rem 1.5rem;
  background-color: white;
  border: 1px solid rgb(211, 210, 210);
  margin: 2rem 0.3rem;
}
button.plain:hover{
  border-color: black;
}
button.bg:hover{
  background-color: rgb(186, 187, 187);
}
button.under:hover
{
  text-decoration: underline;
}
button.img:hover{
  border-radius: 0.2rem;
  border:1px solid black;
}
button.black{
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 0.8rem 1.5rem;
}
button.black:hover{
  background-color: rgb(56, 56, 56);
}
button.icon{
  margin:0 0.5rem;
  border:1px solid lightgray;
}
button.icon:hover{
  background-color: lightgray;
}
hr{
  margin-bottom: 4rem;
}